// Utilities
@import "./utilities/variables.scss";
@import "./utilities/mixin.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $poppins;
	color: white;
	background-color: $dark;
}

main {
	height: auto;
}

a,
button,
input,
textarea {
	font-family: inherit;
	text-decoration: none;
	color: white;
}

strong {
	color: $secondary;
}

::-webkit-scrollbar {
	width: 0.75em;
}

::-webkit-scrollbar-track {
	background-color: rgb(71, 71, 71);
}
::-webkit-scrollbar-thumb {
	background-color: rgb(41, 41, 41);
}

@supports (scrollbar-color: rgb(44, 44, 44) black) {
	* {
		scrollbar-width: thin;
	}
}
