// Utilities
@import "../utilities/variables.scss";
@import "../utilities/mixin.scss";

.about {
	@include setContainer();
	h1 {
		@include setH1();
	}
	h2 {
		margin-bottom: 0.5em;
	}
	p {
		margin-bottom: 1em;
	}
	.details {
		background-color: rgba(255, 255, 255, 0.05);
		padding: 2rem;
	}
}

@media only screen and (max-width: 1400px) {
	.about {
		padding: 2rem 1.5rem;
	}
}
