@import "./variables.scss";

// Flex center
@mixin flexCenter($align: center, $justify: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin gridCenter($align: center, $justify: center) {
	display: grid;
	justify-content: $justify;
	align-items: $align;
}

@mixin setH1 {
	font-family: $main;
	color: $secondary;
	font-size: $mainHeading;
	text-transform: uppercase;
	padding-bottom: 1rem;
}

@mixin setContainer {
	@include flexCenter(left, center);
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
	margin: 3em auto 6em;
	text-align: left;
}
