// Colors
$primary: #9730c8;
$secondary: #5fbab0;
$dark: #1e1e1e;

// Size
$mainHeading: max(4vw, 48px);
$subHeading: 1rem;
$button: 1.3rem;

// fonts
$main: "Nanum Pen Script", cursive;
$poppins: "Poppins", monospace;

// transition
$fast: 0.3s ease-in-out;
$medium: 0.6s ease-in-out;
$slow: 0.9s ease-in-out;

// Media query's
$tablet: 0.9rem;
$mobile: 0.8rem;
